 
header .banner {
    background-image: url(../assets/Hero-bg.png);
    background-repeat:no-repeat;
    max-width:1440px;
    margin: 20px 0 0 0;
    background-repeat: no-repeat;
    background-size:cover, 510px ;
}
 
.banner{
    text-align: center;
    display: block;
    justify-content: center;
    max-width: 1440px;
    margin: 221px 157px;
    line-height: 30px;
}
.banner-content{
    max-width: 998px;
    text-align: center;
    margin: 26px 221px 45px 221px;
    
 
}
 .Azeret-mono{
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }
  nav{
   align-items: center;
   display: flex;
   justify-content: space-around;
   

  }
  nav ul li{
    list-style: none;
  }
  nav ul li a{
    text-decoration: none;
    
  }
  .nav-title{
    font-weight:800;
    font-size: 18px;
    margin-right: 100px;
    
  }
  .btn-primary{
    padding: 5px;
    margin-left: 100px;

  }
  .title{
    font-weight: 800;
    font-size: 38px;
    word-spacing:10px;
    line-height: 50px;
    
    
  }
  .description{
    font-weight:400;
    font-size: 16px;
    color:#0D1321
  }
  .btn-secondary{
    color: white;
    background-color:#0D1321;
    border: none;
    border-radius: 5px;
    padding: 15px;
    cursor: pointer;
    margin-top: 2px;
  }
  .btn-secondary:hover{
    background-color: rgb(0, 255, 115);
  }
  .footer-challenge{
    text-decoration:none;
  }
  
  .section-content{
    text-align: center;
  }
  .section-title{
    font-weight:900;
    font-size: 28px;
  }
  .section-subtitle{
    font-weight:400;
    font-size: 16px;
    opacity: .7;
  


 }
  .sect{
    max-width: 860px;
    margin: 61px 165px 20px 230px;
  

  }
  

  
  .section-content-in1{
    display: flex;
    justify-content: space-around;
  }
  .section-content-in2{
    display: flex;
    justify-content: space-around;

  }
  .section-content-in3{
    display: flex;
    justify-content: space-around;

  }

  .inner-text1{
    line-height:30px;

  }
  .inner-text2{
    line-height:30px;


  }
  .inner-text3{
    line-height:30px;


  }
  .inner-title{
    font-weight:700;
    font-size: 20px;
    color:#0D1321;
    opacity: .7;
  

  }
  .inner-description{
    font-weight: 400;
    font-size: 16px;
    color: #0D1321;
    opacity: .7;

  }
  .secondary-button{
    padding: 10px 15px;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    font-family:"Azeret Mono", monospace;
  }
  
    
    
  
  .card-container{
    max-width: 1080px;
    margin: 61px 130px 20px 200px;
    display: flex;
    justify-content: space-around;
    gap: 250px;
    margin:61px
  }
  
  .sect1{
    margin: 61px 100px 20px 160px;
  }
  .card1{
    background-color:#f8cb9b;
    padding: 10px;
  }
  .card2{
    background-color:#e3d5ca;
    padding: 10px;
  }
  .card3{
    background-color:#ffe7a5;
    padding: 10px;
  }

  .sect2{
    text-align: center;
    max-width: 860px;
    margin: 61px 165px 20px 230px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2)), url(/assets/handshake.jpg);
    background-size: 980px 250px;
    border-radius: 10px;
    background-repeat: no-repeat;
    
  }
  .tx{
    padding-bottom: 10px;
    padding-top: 10px
  
  }
.inner-title1{;
  font-weight:700;
  font-size: 26px;
  color: #FFFFFF;
  
}
.inner-description1{
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
  opacity: .7;

}
.btn{
  display: flex;
  justify-content:center;
  gap: 16px;
  padding-bottom: 20px;
}
    
  